body {
  background-color: #000000;
  background-image: url(assets/logo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

h2 {
  color: pink;
}
h4 {
  color: white;
}

.names {
  color: white;
}
table {
  border: none;
}

.picstable {
  border: 1px solid white;
}

.pics {
  width: 100%;
  height: 150px;
}

.whiten{
  color: white;
  border-color: white;
  /* background-color: white; */
}

.incfont{
  font-size: large;
}